<!DOCTYPE html>
<html>
    <head>
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    </head>
    <body>
        <div class="container">
            <h1>Scarto</h1>

            <%= form_with(model: post, local: true) do |form| %>

            <div class="input-group mb-3">
                <%= label_tag "firstname", "Enter your name", class: "input-group-text" %>
                <%= form.text_field :firstname, class: 'form-control' %>
            </div>

            <%= form.submit 'Start new game', class: 'btn btn-primary' %>

            <% end %>
        </div>
    </body>
</html>