<h1>Playing!</h1>

<h4>Welcome <%= @gameObj.firstname %>

<h4>Players: </h4>

<% @game.players.each do |p| %>
<div class="player">
    <h4><%= p.name %>

    <div class="hand">
        <% p.hand.each do |card| %>
        <div class="gamecard" data-suit="<%=card.suit%>" data-number="<%=card.number%>">
            <%= image_tag(card.generate_image_name, class: 'card_img') %>
        </div>
        <% end %>
    </div>
</div>
<% end %>

<script>
    document.querySelectorAll('.gamecard').forEach(
        (el, i) => { 
            el.addEventListener('mouseover', () => { el.classList.add('top'); });
            el.addEventListener('mouseout', () => { el.classList.remove('top'); }); 
        });

</script>