<h1>Playing!</h1>

<h4>Welcome <%= @gameObj.firstname %>

<h4>Players: </h4>

<div class="players row">
    <% @game.players.each do |p| %>
    <% if p.type == 1 %>
    <div class="player type-computer col-6">
        <h4><%= p.name %>

        <div class="hand">
            <% p.hand.each do |card| %>
            <div class="gamecard">
                <%= image_tag(card.generate_image_name(p.type), class: 'card_img') %>
            </div>
            <% end %>
        </div>
    </div>
    <% end %>
    <% end %>
</div>



<div class="players row">
    <% @game.players.each do |p| %>
    <% if p.type == 2 %>
    <div class="player type-human col-12">
        <h4><%= p.name %>

        <div class="hand">
            <% p.hand.each do |card| %>
            <div class="gamecard">
                <%= image_tag(card.generate_image_name(p.type), id: "#{card.suit}_#{card.number}", class: 'card_img', 
                    'data-suit': card.suit, 'data-number': card.number, 
                    draggable: 'true', ondragstart: 'dragStart(event)', ondrop:'dragEnd(event)', ondragover:'allowDrop(event)') %>
            </div>
            <% end %>
        </div>
    </div>
    <% end %>
    <% end %>
</div>


