<h3>Swap cards</h3>
<p>You are the dealer, swap cards with the stock and click Done when you're finished</p>

<% if @game.state.stock.size > 0 %>
<div class="stock">
    <% @game.state.stock.each do |card| %>
    <div class="stockcard">
        <%= image_tag(card.generate_image_name(Player.HUMAN), id: "#{card.suit}_#{card.number}", class: 'card_img',
                'data-suit':card.suit, 'data-number':card.number, 
                draggable: 'true', ondragstart: 'dragStart(event)', ondrop:'dragEnd(event)', ondragover:'allowDrop(event)') %>
    </div>
    <% end %>
</div>
<% end %>

<div class="players row">
    <% @game.players.each do |p| %>
    <% if p.type == 2 %>
    <div class="player type-human col-12">
        <h4><%= p.name %>

        <div class="hand">
            <% p.hand.each do |card| %>
            <div class="gamecard">
                <%= image_tag(card.generate_image_name(p.type), id: "#{card.suit}_#{card.number}", class: 'card_img', 
                    'data-suit': card.suit, 'data-number': card.number, 
                    draggable: 'true', ondragstart: 'dragStart(event)', ondrop:'dragEnd(event)', ondragover:'allowDrop(event)') %>
            </div>
            <% end %>
        </div>
    </div>
    <% end %>
    <% end %>
</div>
<div class="row">
    <div class="col">
         <%= link_to 'Done', "/play/#{@gameObj.id}", onclick: 'updateStatus(event)', class: 'btn btn-primary' %>
    </div>
</div>

<script>
    document.querySelectorAll('.type-human .gamecard').forEach(
        (el, i) => { 
            el.addEventListener('mouseover', () => { el.classList.add('top'); });
            el.addEventListener('mouseout', () => { el.classList.remove('top'); }); 
        });

    const allowDrop = (ev) => {
        ev.preventDefault();
    };

    const dragStart = (ev) => {
        ev.dataTransfer.setData('text/plain', JSON.stringify(getCardData(ev.target)));
        ev.dataTransfer.effectAllowed = 'copy';
    };

    const dragEnd = (ev) => {
        ev.preventDefault();

        const elData = JSON.parse(ev.dataTransfer.getData('text/plain'));

        let srcEl = {}
        let srcData = {}
        let targetEl = {}
        let targetData = {}

        // Make sure the source and target always correspond to the hand and the stock respectively
        if(ev.target.closest('.stock')) {
            srcEl = document.querySelector('#' + elData.id);
            srcData = elData
            targetEl = ev.target
            targetData = getCardData(ev.target);
        } else {
            srcEl = ev.target
            srcData = getCardData(ev.target);
            targetEl = document.querySelector('#' + elData.id);
            targetData = elData
        }

        swapCard(srcData, targetData)
            .then((responseData) => {
                result = JSON.parse(responseData);

                if(result.status === 'ok') {
                    console.log('ok, now do swap')
                    setCardData(targetEl, srcData);
                    setCardData(srcEl, targetData);
                } else {
                    createToast(result.errorMessage);
                }
                console.log('result', result);
            })
            .catch((result) => {
                console.log('result', result)
                console.log('failed')
                    createToast(result);
            });
    };

    const updateStatus = (ev) => {
        setSwapDone()
            .then((responseData) => {
                return true;
            })
            .catch((result) => {
                return false;
            })
    };

    const getCardData = (cardImgEl) => {
        return {
            id: cardImgEl.id,
            suit: cardImgEl.dataset.suit,
            number: cardImgEl.dataset.number,
            imgSrc: cardImgEl.src
        };
    };

    const setCardData = (cardImgEl, data) => {
        cardImgEl.id = data.id;
        cardImgEl.dataset.suit = data.suit;
        cardImgEl.dataset.number = data.number;
        cardImgEl.src = data.imgSrc;
    };

    const swapCard = (sourceCardData, targetCardData) => {
        const xhr = new XMLHttpRequest();
        const url = '/play/<%=@gameObj.id%>/swap';
        const params = 'scSuit=' + sourceCardData.suit + '&scNumber=' + sourceCardData.number + '&tcSuit=' + targetCardData.suit + '&tcNumber=' + targetCardData.number
        const token = document.querySelector('meta[name="csrf-token"]').content;

        return new Promise((resolve, reject) => {
            xhr.open('POST', url, true); 

            xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded"); 
            xhr.setRequestHeader("X-CSRF-Token", token);

            xhr.onload = () => { 
                if(xhr.readyState == 4 && xhr.status == 200) { 
                    resolve(xhr.responseText);
                } else {
                    reject('something happened:, xhr.status=' + xhr.status + ', xhr.readyState=' + xhr.readyState, ', xhr.status=', xhr.status);
                }
            }
            xhr.send(params);
        });
    };

    const setSwapDone = () => {
        const xhr = new XMLHttpRequest();
        const url = '/play/<%=@gameObj.id%>/swap_done';
        const token = document.querySelector('meta[name="csrf-token"]').content;

        return new Promise((resolve, reject) => {
            xhr.open('GET', url, true); 

            xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded"); 
            xhr.setRequestHeader("X-CSRF-Token", token);
            xhr.onload = () => { 
                if(xhr.readyState == 4 && xhr.status == 200) { 
                    resolve(xhr.responseText);
                } else {
                    reject('something happened:, xhr.status=' + xhr.status + ', xhr.readyState=' + xhr.readyState, ', xhr.status=', xhr.status);
                }
            };
            xhr.send();
        });
    }

    const createToast = (message) => {
        const toastHtml = `<div id="toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Game Error</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            ${message}
        </div>
        </div>`;

        document.getElementById('toast-container').insertAdjacentHTML("afterbegin", toastHtml);
        const toast = new bootstrap.Toast(document.getElementById('toast'));
        toast.show();
    };

</script>