
<h2>Create a new Game</h2>

<% if @game.errors.any? %>

<div class="row">
    <div class="col">
        <h3>The following errors prevented the game from being saved</h3>
        <ul>
        <% @game.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
    </div>
</div>

<% end %>

<div class="row">
    <div class="col">

        <%= form_with scope: :game, url: games_path, local: true do |form| %>
        <div class="input-group mb-3">
            <%= form.label :firstname, "Enter your name", class: "input-group-text" %>
            <%= form.text_field :firstname, class: 'form-control' %>
        </div>

        <%= form.submit 'Start new game', class: 'btn btn-primary' %>

        <% end %>
    </div>
</div>

<%= link_to 'Cancel', games_path(), class: 'btn btn-secondary' %>